.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.nav {
  position: fixed;
  height: 5vh;
  background-color: black;
  width: 100vw;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav>ul>li {
  display: inline;
  margin: 0 10px;
}

.container {
  padding-top: 10vh;
}

.profile {
  display: flex;
  align-items: row;
  justify-content: space-around;
}

.inline {
  display: inline;
}
